* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}


ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


img {
    max-width: 100%;
    height: auto;
}


button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}


fieldset {
    border: none;
    padding: 0;
}


legend {
    display: none;
}